<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<!-- server 注入给action -->
	<bean id="grabAction" class="com.darg.opo.action.GrabAction"
		scope="prototype">		
		<!-- CommmonServer -->
		<property name="commonService" ref="commonService"></property>
	</bean>

	<!-- server 注入给action -->
	<bean id="opoMangeAction" class="com.darg.opo.action.OpoMangeAction"
		scope="prototype">		
		<!-- CommmonServer -->
		<property name="commonService" ref="commonService"></property>
	</bean>
	
	<!-- server 注入给action -->
	<!-- <bean id="grabAction666" class="com.darg.opo.action.threadBean.ThreadBaiduRecent"
		scope="prototype">		
		CommmonServer
		<property name="commonService" ref="commonService"></property>
	</bean> -->

</beans>